.App {
    width: 351px;
    margin: 20px auto;
    position: relative;
}

.App:after {
    clear: both;
    content: "";
    display: table;
}

.Game {
    position: absolute;
    left: 0px;
    top: 0px;
    bottom: 0px;
    right: 0px;
}

.GameSquare {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 24px;
    font-weight: bold;
    line-height: 34px;
    height: 34px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 34px;
}

.GameSquare.selected {
    background: green;
    border-color: green;
}

.Controls {
    position: absolute;
    left: -300px;
    width: 300px;
}

.Controls ul {
    list-style: none;
}

.Controls ul li {
    padding: 10px;
    float: left;
}

.Controls ul li .action {
    width: 50px;
    background-color: #999999;
    padding: 5px;
    display: block;
    float: left;
}

.Controls ul li .description {
    padding: 5px 5px 5px 15px;
    display: block;
    float: left;

}

.nextFigure {
    position: absolute;
    width: 136px;
    height: 136px;
    right: -250px;
    top: 50px;
}